
body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: #2b2424;
}

header {
  background: #6E1A38;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

header .logo {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover,
nav a.active {
  color:#d43a3a;
}

.intro {
  text-align: center;
  padding: 40px 20px;
  background: wheat;
  color: rgb(77, 59, 59);
}

.intro h1 {
  margin: 0;
  font-size: 2.2em;
}

.intro p {
  font-size: 1.2em;
  margin-top: 10px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
  border: 2px solid black;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  height: 200px;
}

.card p {
  margin-top: 10px;
  font-weight: bold;
  color: var(--verde-medio);
}

.volver {
  text-align: center;
  margin: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--verde-claro);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: var(--amarillo);
  color: var(--verde-oscuro);
}

footer {
  text-align: center;
  padding: 20px;
  background: wheat;
  color: rgb(58, 54, 45);
}

/* Menú lateral izquierda */
.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;          /* altura completa */
    width: 0px;           /* ancho del menú */
    background: wheat;
    transition: all 1s ease;
    border: double 5px #000000;
    overflow: hidden;
    
}
.menu-lateral:hover{
    height: 100vh;          /* altura completa */
    width: 200px;           /* ancho del menú */

}

.menu-lateral ul {
    list-style: none;
    height: 100%;
   display: block;
}

.menu-lateral li {
    width: 100%;
    list-style: none;
    justify-content: center;
    display: list-item;
}

.menu-lateral a {
    display: flex;
   padding: 20px 35px 40px;
    color: #423131;
    text-decoration: none;
    transition: 1s;
    list-style: none;
}

.menu-lateral a:hover {
    background: #6E1A38;
    color: antiquewhite;
}
.ves{
  text-align: center;
  font-family: Lucida ;
  background: linear-gradient(#6E1A38,#423131);
  color: beige;
}